body {
  padding-top: 50px;
  background-image:url('images/wooden_texture.jpg'); //Thanks to http://www.zezu.org/wood-plank-vector/
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.coffee-table{
  background-color:#7a3402;
  color:#FFFFFF;
}

div.header{
	text-align:center;
	color:#7a3402; //Same as .coffee-table's
}
